// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass
.pf-c-data-list__cell {
  --pf-c-data-list__cell--PaddingTop: 10px;
  --pf-c-data-list__cell-cell--PaddingTop: 10px;
  --pf-c-data-list__cell--PaddingBottom: 10px;
}

.dataCard {
  .pf-c-data-list {
    flex: 1;
    margin-right: 0;
  }

  ul + ul {
    margin-left: 20px;
  }
}

.pf-c-modal-box.templateModal {
  --pf-c-modal-box--Width: 1000px;

  .pf-c-table {
    --pf-c-table-td--PaddingBottom: 20px;
    --pf-c-table-td--PaddingTop: 20px;
    th:first-child,
    td:first-child {
      padding-left: 0;
    }

    th:last-child,
    td:last-child {
      padding-right: 20px;
      text-align: right;
    }
  }
}

@media only screen and (max-width: 600px) {
  .dataCard {
    flex-direction: column;

    .pf-c-data-list {
      margin: 20px 0 0 0;
    }
  }
}

#d3-chart-root {
  min-height: 500px;
}
div.tooltip {
  position: absolute;
  width: 150px;
  padding: 10px;
  font: 12px sans-serif;
  background: black;
  color: white;
  pointer-events: none;
  border-radius: 2px;
}

.tooltip:after,
.tooltip:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tooltip:after {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #000000;
  border-width: 5px;
  margin-top: -5px;
}
.tooltip:before {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #000000;
  border-width: 6px;
  margin-top: -6px;
}

.tooltip-value {
  float: right;
}

.tooltip.flipped:after,
.tooltip:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tooltip.flipped:after {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #000000;
  border-width: 5px;
  margin-top: -5px;
}
.tooltip.flipped:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #000000;
  border-width: 6px;
  margin-top: -6px;
}
