// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass
.pf-c-data-list__cell {
  --pf-c-data-list__cell--PaddingTop: 10px;
  --pf-c-data-list__cell-cell--PaddingTop: 10px;
  --pf-c-data-list__cell--PaddingBottom: 10px;
}

.dataCard {
  .pf-c-data-list {
    flex: 1;
    margin-right: 0;
  }

  ul + ul {
    margin-left: 20px;
  }
}

.pf-c-modal-box.templateModal {
  --pf-c-modal-box--Width: 1000px;

  .pf-c-table {
    --pf-c-table-td--PaddingBottom: 20px;
    --pf-c-table-td--PaddingTop: 20px;
    th:first-child,
    td:first-child {
      padding-left: 0;
    }

    th:last-child,
    td:last-child {
      padding-right: 20px;
      text-align: right;
    }
  }
}

@media only screen and (max-width: 600px) {
  .dataCard {
    flex-direction: column;

    .pf-c-data-list {
      margin: 20px 0 0 0;
    }
  }
}

#d3-chart-root {
  min-height: 400px;
}

#spinny {
  height: 140px;
  top: 50%;
  bottom: 50%;
  position: absolute;
  width: 205px;
  left: 50%;
  right: 50%;
  display: none;
}

/*Styling for the lines connecting the labels to the slices*/
polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

#d3-donut-1-chart-root, #d3-donut-2-chart-root {
  min-height: 300px;
  // border: 1px solid;
}

h2 {
  color: #393f44;
}

#d3-grouped-bar-chart-root, #d3-line-chart-root {
  min-height: 450px;
  min-width: 75%;
}