apiVersion: v1
kind: Template
metadata:
  name: tower-analytics-frontend
objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: Frontend
    metadata:
      name: tower-analytics
    spec:
      envName: ${ENV_NAME}
      title: Automation Analytics
      deploymentRepo: https://github.com/RedHatInsights/tower-analytics-frontend
      API:
        versions:
          - v1
      frontend:
        paths:
          - /apps/tower-analytics
          - /apps/automation-analytics
      image: ${IMAGE}:${IMAGE_TAG}
      navItems:
        - appId: "automationAnalytics"
          title: "Reports"
          href: "/ansible/automation-analytics/reports"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Savings Planner"
          href: "/ansible/automation-analytics/savings-planner"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Automation Calculator"
          href: "/ansible/automation-analytics/automation_calculator"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Organization Statistics"
          href: "/ansible/automation-analytics/organization-statistics"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Job Explorer"
          href: "/ansible/automation-analytics/job-explorer"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Clusters"
          href: "/ansible/automation-analytics/clusters"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Notifications"
          href: "/ansible/automation-analytics/notifications"
          product: "Red Hat Insights"

        - appId: "automationAnalytics"
          title: "Beta Reports"
          href: "/preview/ansible/automation-analytics/reports"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Beta Savings Planner"
          href: "/preview/ansible/automation-analytics/savings-planner"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Beta Automation Calculator"
          href: "/preview/ansible/automation-analytics/automation_calculator"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Beta Organization Statistics"
          href: "/preview/ansible/automation-analytics/organization-statistics"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Beta Job Explorer"
          href: "/preview/ansible/automation-analytics/job-explorer"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Beta Clusters"
          href: "/preview/ansible/automation-analytics/clusters"
          product: "Red Hat Insights"
        - appId: "automationAnalytics"
          title: "Beta Notifications"
          href: "/preview/ansible/automation-analytics/notifications"
          product: "Red Hat Insights"

      module:
        # match the fs location above
        moduleID: automationAnalytics
        manifestLocation: "/apps/automation-analytics/fed-mods.json"
        modules:
          - id: "automationAnalytics"
            module: "./RootApp"
            routes:
              # cross reference againt paths above and make sure it matches
              - pathname: /ansible/automation-analytics
              - pathname: /beta/ansible/automation-analytics
              - pathname: /preview/ansible/automation-analytics

parameters:
  - name: ENV_NAME
    required: true
  - name: IMAGE_TAG
    required: true
  - name: IMAGE
    value: quay.io/cloudservices/automation-analytics-frontend
