.border-top {
  border-top: thin solid var(--pf-t--global--border--color--100);
}

.border-bottom {
  border-bottom: thin solid var(--pf-t--global--border--color--100);
}

.light {
  background-color: var(--pf-t--global--background--color--100);
}

:root:where(.pf-theme-dark) .dark-0 {
  background-color: var(--pf-t--global--background--color--200);
}

:root:where(.pf-theme-dark) .dark-1 {
  background-color: var(--pf-t--global--background--color--100);
}

:root:where(.pf-theme-dark) .dark-2 {
  background-color: var(--pf-t--global--background--color--300);
}

:root:where(.pf-theme-dark) .dark-3 {
  background-color: var(--pf-t--global--background--color--400);
}
