// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-utilities/styles/all";

// Automation Analytics Styling

/* ***********************************************************************
 * CONSIDER when styling using the styled components instead of this file.
 * At this project we prefer to use the styled components.
 * ***********************************************************************/
#d3-donut-1-chart-root, #d3-donut-2-chart-root {
  min-height: 300px;
  min-width: 60%;
}

#d3-grouped-bar-chart-root, #d3-line-chart-root, #d3-bar-chart-root, #d3-pie-1-chart-root, #d3-roi-chart-root {
  min-height: 450px;
  min-width: 75%;
}

#d3-roi-chart-root {
  overflow-x: auto;
}

#d3-bar-chart-root rect:hover {
    cursor: pointer;
}

#d3-grouped-bar-chart-root rect:hover {
    cursor: pointer;
}

#d3-line-chart-root circle:hover {
  cursor: pointer;
}
