name: CI for PRs

on:
  pull_request:
    branches: [ devel ]

jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install modules
        run: npm install

      - name: Check the code builds & lints
        run: npm run verify
